
.navbar {
    background-color: #333; 
    padding: 14px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .nav-link {
    color: #D8C5A7;
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
    font-size: 17px; 
  }
  
  .nav-link:hover {
    background-color: #D8C5A7; 
    color: #333; 
  }

  .home {
    background-color: #C9C3B7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; 
    text-align: center; 
    padding-bottom: 47px;
  }
  
  .home-title {
    font-size: 36px; 
    color: #333
  }
  
  .articles {
    background-color: #C9C3B7;
  }