.navbar {
  background-color: #333;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #d8c5a7;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
  background-color: #d8c5a7;
  color: #333;
}

.home {
  background-color: #c9c3b7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  text-align: center;
  padding-bottom: 47px;
}

.home-title {
  font-size: 36px;
  color: #333;
}

body {
  background-color: #c9c3b7;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.articles {
  width: 80%;
  margin: 0 auto;
}

.articles h1 {
  text-align: center;
}

.articles-list {
  list-style-type: none;
  padding: 0;
  color: inherit;
}

.articles-item {
  border: 2px solid #aa9e8b;
  border-radius: 15px;
  padding: 20px;
  margin: 30px 0;
  position: relative;
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: flex-start;
}

.articles-title {
  text-align: left;
  font-size: 1rem;
  margin: 20px;
  padding: 0;
  color: #c9c3b7;
  position: relative;
  padding-top: 10%;
  text-decoration: none !important;
}

.articles-img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  padding-top: 15%;
}

.articles-topic,
.articles-author {
  display: inline-block;
  padding: 2px 10px;
  border: 2px solid #aa9e8b;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  background-color: #d8c5a7;
  margin-bottom: 30px;
  color: #333;
}

.articles-topic {
  margin-right: 10px;
}

.articles-author {
  right: 25px;
}

.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-header-buttons {
  padding: 5px;
}

.article-author {
  text-align: left;
  padding-left: 10px;
  font-size: 10px;
  font-weight: bold;
}

.article-title {
  text-align: center;
}

.article-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  height: auto;
}

.article-date {
  text-align: right;
  padding-right: 20px;
}

.article-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 90%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.comments {
  width: 80%;
  margin: 0 auto;
}

.comment-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.comment-input {
  width: 75%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #333;
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #c9c3b7;
  border-radius: 10px;
  background-color: #333;
  display: flex;
  flex-direction: column;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-author {
  font-weight: bold;
  color: #c9c3b7;
  margin-bottom: 5px;
}

.comment-body {
  color: #c9c3b7;
  margin-bottom: 10px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-date {
  font-size: 0.9rem;
  color: #c9c3b7;
  margin-bottom: 10px;
}

.comment-votes {
  align-self: flex-start;
}

.voting-title {
  text-align: center;
  background-color: #333;
  color: #c9c3b7;
}

.voting-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comment-form {
  padding: 15px;
  margin: 10px 4% 5%;
  color: #c9c3b7;
  border-radius: 10px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 30%;
}

.comment-comment {
  display: inline-block;
  align-items: end;
  padding-left: 5px;
}

.comment-username {
  display: inline-block;
  align-items: end;
}

.comment-send {
  top: 5px;
  align-self: center;
}

.comment-h1 {
  align-self: center;
  top: -4px;
}

.topics {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.topics h1 {
  text-align: center;
  margin-bottom: 20px;
}

.topic-list {
  list-style-type: none;
  padding: 7px;
  color: #c9c3b7;
  text-align: center;
}

.topic-items {
  border: 2px solid #aa9e8b;
  border-radius: 15px;
  padding: 20px;
  margin: 30px 0;
  position: relative;
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
